
.form-vehicle .card {
    min-width: 550px;
}
.form-vehicle .card form {
    margin-top: 2rem;
}
.form-vehicle .card .input-m {
    margin: 1rem;
}
.form-vehicle .card .button-m {
    margin-right: 1rem;
}
.form-vehicle .card .field {
    margin-bottom: 1.5rem;
}
.tip-error {
    color: #CF6679;
}
@media screen and (max-width: 960px) {
    .form-vehicle .card {
        width: 90%;
    }
}
@media screen and (max-width: 640px) {
    .form-vehicle .card {
        width: 100%;
        min-width: 0;
    }
}