.register-header {
    font-size: 32px;
    font-weight: 400;
}
.register-header p {
    margin-bottom: 1.2em;
}
.error-tip {
    color: #CF6679;
}
.card {
    width: 512px;
}
.card input {
    height: 40px;
    width: 320px;
}

.jjba_ref02 {
    background: url('../../resources/emporio_head1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 10%;
    left: 8px;
    top: 8px;
    position: absolute;
    width: 180px;
    height: 180px;
}

@media screen and (max-width: 640px) {
    .card {
        width: 100%;
        min-width: 0;
    }
    .card input {
        height: 40px;
        width: 256px;
    }
}